#pink {
  height: 100vh;
}

.slide-2 {
  background-image: url(../img/slide-1-bg.webp); 
  background-position: center, center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: relative;

  @media only screen and (max-width: 768px) {
    background-image:none;
  }  

  &__icon-big {
    
    @media only screen and (max-width: 576px) {
      transform: scale(0.5);
    }

  }

  &__h4 {
    margin-bottom: 70px;

    @media only screen and (max-width: 768px) {
      margin-bottom: 10px;
    }

  }

}

.textbox {

  @media only screen and (max-width: 768px) {
    justify-content: center;
  }
}

.textbox-p {
  margin-left: 40px;
}